.login {
    height: 100vh;
    display: flex;
    background-color: var(--gray);
    align-items: center;
    justify-content: center;

    .login-form {
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 40%;
        padding-top: 10px;

        .invalid {
            text-align: right;
            background-color: var(--alert-red);
            color: red;
            margin: 0 15px;
            padding: 2px 5px;
        }

        input {
            outline: none;
            margin: 10px 15px;
            border: 1px solid var(--dark-green);
            border-radius: 3px;
            height: 2em;
            padding: 0 10px;
        }


        .password-wrapper {
            display: flex;
            position: relative;

            input {
                flex: 1;
            }

            .show-password {
                display: grid;
                place-items: center;
                position: absolute;
                left: 1.5rem;
                top: 0;
                bottom: 0;
            }
        }

        .checkbox-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        label {
            text-align: right;
            margin: 0 15px;
        }

        .submit-btn {
            width: 60%;
            align-self: center;
            padding: 1em 0;
            color: white;
            margin: 1em 0;
            border-radius: 5px;
            background: var(--light-green);
            cursor: pointer;
        }
    }
}