.profile-container {
    min-height: 100vh;
    .profile {
        display: flex;
        min-height: 100vh;
        >aside {
            border-left: 1px solid gray;
            flex: 1;
            ul {
                li {
                    cursor: pointer;
                    font-size: 130%;
                    margin: 10px 0;
                    color: black;
                }

                .chosen-li {
                    color: var(--dark-green);
                }
            }
        }
        >main {
            flex: 5;
        }
    }
}