.report-modal {
    .report-footer {
        .buttons {
            width: 100%;
            display: flex;
            width: 100%;
            gap: 10px;
        }
        
        button {
            color: white;
            height: 40px;
            border-radius: 3px;
            width: 100%;
            cursor: pointer;
        }
    }
    
    .submit-btn {
        background: var(--light-green);
    }
    
    .close-btn {
        background-color: red;
    }
    
    .report-body {
        display: flex;
        flex-direction: column;
        text-align: right;
    
        label {
            font-size: 110%;
        }
    
        select {
            margin: 10px 0;
            border: 1px solid gray;
            padding: 5px;
            outline: none;
            border-radius: 3px;
        }
    
        textarea {
            outline: none;
            border: 1px solid gray;
            border-radius: 3px;
        }
    }
}
