.form-label {
    float: right;
}

.form-card {
    form {
        padding: 0.7rem;
    }
}

.card-header{
    text-align: right;
}

button[type="submit"] {
    float: left;
    color: #ffffff !important;
}

.add-img {
 width: 5rem;   
 height: 5rem;
}

.card-subtitle {
    position: absolute;
    bottom: 30%;
    right: 0;
    left: 0;
}

.main-container {
    padding: 1rem;
}

.add-items {
    margin-top: 3rem !important;
}

.add-item-header {
    display: flex;
    justify-content: space-between;
    .btn-container {
        display: flex;
        gap: 0.5rem;
        .addBtn {
            color: #ffffff !important;
        }
    }
}


.form-control:focus {
    border-color: var(--light-green) !important;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px var(--dark-green) !important;
}
